$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-size-primary: 16px;
$font-size-secondary: 22px;
$container-width: 960px;
$bg-color-primary: #fff;
$bg-color-secondary: #ededed;
$bg-color-ternary: #f4f4f5;
$color-primary: #000;
$color-secondary: #d7b065;

.dark-mode {
  $bg-color-primary: #18202b;
  $bg-color-secondary: #151515;
  $bg-color-ternary: #f4f4f5;
  $color-primary: #fff;
}

/* Utilities */
.has-shadow {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}
.is-rounded {
  border-radius: 4px !important;
}
.has-margin-t-8 {
  margin-top: 0.25rem;
}
.color-secondary { color: $color-secondary !important; }

/* Fonts */
.font {
  &-light {
    font-family: 'Lato Light', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
  }
  &-regular {
    font-family: 'Lato Regular', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
  }
  &-bold {
    font-family: 'Lato Bold', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
  }
  &-title-regular {
    font-family: 'Playfair Display', 'Roboto', 'Segoe UI', Tahoma, Geneva,
      Verdana, sans-serif !important;
  }
}

/* Normalize */
*,
html {
  margin: 0;
  padding: 0;

  body {
    color: $color-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Lato Regular', sans-serif;
    margin-top: 5.5rem;
  }
}

.container {
  width: $container-width;
  max-width: $container-width;
  margin: auto;

  &.is-small {
    max-width: 720px !important;
  }
}

/* Breadcrumb */
.bread-wrapper {
  background-color: $bg-color-ternary;
}

/* Posts */
.main-wrapper {
  min-height: calc(100vh - 203px);
}
.posts-wrapper {
	p {
		margin: auto !important;
		margin-bottom: 1.5rem !important;
	}
	.cover {
		img {
			width: 100%;
		}
	}
	.content {
		img {
			> p {
				max-width: 100% !important;
				margin: auto !important;
				margin-bottom: 1.5rem !important;
			}
		}
	}
	small {
		margin: auto !important;
		font-size: 1rem !important;
		text-align: center !important;
	}
}

/* Navbar */
.header {
  .navbar {
    .navbar-brand {
      .navbar-item {
        padding-top: 0 !important;
        padding-bottom: 0.5rem !important;

        &.is-active {
          color: $color-secondary;
          font-weight: 400;
        }

        img {
          max-height: 2.5rem;
          transition: 0.4s ease;
        }
      }
    }
    .navbar-menu {
      .navbar-item {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        transition: 0.4s ease;
      }
    }
  }
}

/* Footer */
.footer {
  background-color: $bg-color-secondary;

  a {
    color: $color-primary !important;
  }
}

/* Author */
.author {
  .media {
    display: flex;
    align-items: center;
  }
}

/* Title */
.title {
  &-posts {
    font-size: 22px !important;
    line-height: 26px !important;
  }
  &-category,
  &-post-time {
    font-size: 14px !important;
  }
  &-category::after {
    content: '·';
    font-family: 'Lato Bold', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,
      sans-serif;
    margin-right: 0.25rem;
  }
}

/* Button */
.button {
  border-radius: 0% !important;

  &.is-primary {
    color: $color-secondary !important;
    border-color: $color-secondary !important;
  }

  &:focus,
  &:hover {
    &.is-primary {
      &.is-outlined {
        background-color: $color-secondary !important;
        color: $color-primary !important;
      }
    }
  }
}

/* Mobile Layout */
@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    margin-top: 3.6rem !important;
  }
  .container {
    width: 92% !important;
    max-width: 92% !important;
	}
	
	.header {
		.navbar {
			.container {
				max-width: 100% !important;
				width: 100% !important;
			}
			.navbar-menu {
				background: transparent;
				box-shadow: none;

				.navbar-item {
					padding-top: 1.5rem !important;
					padding-bottom: 1.5rem !important;
				}
			}
			.navbar-brand {
				.navbar-item {
					padding-top: 0.5rem !important;
					padding-bottom: 0.5rem !important;
				}
			}

			.navbar-link {
				&.is-active {
					background-color: $bg-color-secondary !important;
				}
				&:hover {
					background-color: $bg-color-secondary !important;
				}
			}
			a.navbar-item.is-active {
				background-color: $bg-color-secondary !important;
			}
			a.navbar-item {
				&:hover {
					background-color: $bg-color-secondary !important;
				}
			}
		}
	}

	.post {
		&-author {
			figure {
				margin-bottom: 0 !important;
			}
		}
		&-date {
			text-align: center !important;
			padding: 0.5rem 0 !important;
		}
	}
  .posts-wrapper {
		.content {
			font-size: 1rem !important;
			line-height: 1.5rem !important;
		}
	}
}
